* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}