.orderSuccess {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderSuccess > svg {
    font-size: 7vmax;
    color: #AD0E82;
}
.orderSuccess > p {
    font-size: 2vmax;
}
.orderSuccess > a {
    background-color: #AD0E82;
    color: white;
    font: 400 1vmax "Franklin Gothic Medium";
    text-decoration: none;
    cursor: pointer;
    padding: 1vmax 3vmax;border: none;
    margin: 2vmax;
}
.orderSuccess > a:hover {
    background-color: #800002;
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    .orderSuccess > a {
        padding: 3vw 6vw;
        font: 400 4vw "Franklin Gothic Medium";
        margin: 2vmax;
    }
    .orderSuccess > svg {
        font-size: 20vw;
    }
    .orderSuccess > p {
        margin: 2vmax;
        font-size: 5vw;
    }
}